* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: honeydew;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: brown;
    z-index: 10;
    padding: 1.5rem 0rem;
}

.header > h1 {
    margin-left: 2rem;
}

.main_container {
    margin-top: 9rem;
}

.searchbar {
    display: flex;
    justify-content: center;  
}

.search {
    height: 2rem;
}

.search_text {
    font-size: large;
    border-radius: 0.7rem;
    padding-left: 0.5rem;
}

.t_search {
    padding-right: 2rem;
}

.button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 5rem;
    border-radius: 0.7rem;
    background-color: chartreuse;
}

.list {
    margin-left: 2rem;
    padding-top: 4rem;
    display: flex;
}

.dis {
    display: flex;
    margin-bottom: 2rem;
    border: 1.5px solid black;
    padding: 1rem;
    border-radius: 0.7rem;
    width: 50rem;
}

.year_h {
    margin-left: 1rem;
    margin-top: 1rem;
}

img {
    height: 220.5px;
    width: 150px;
    border-radius: 0.7rem
}